.header {
  
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Georgia", serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .container {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
  }
  body {
    background-image: url('./anime.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }
  button {
    background-color: #2e86c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: #1f4e79;
  }
  li {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  li:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  a {
    text-decoration: none;
    color: #3498db;
  }
  a:hover {
    text-decoration: underline;
    color: #1f78b4;
  }
          